@model Application.CQRS.Users.Commands.ConfirmEmail.ConfirmEmailCommand

@section Scripts{
    @*asp-action="ResendConfirmationCode" asp-controller="Account"*@
    <script>function resendConfirmationCode() {
            $.ajax({
                url: "auth/ResendConfirmationCode/" + $("#UserId").val(),
                method: "GET",
                success: function (response) {
                    console.log(response);
                    $("#resendConfirmationCodeBtn").attr("disabled", true);
                    countDown(60);
                },
                error: function (request, status, error) {
                    console.log(error);
                },
                complete: function () {
                    console.log('completed');
                }
            });
        }
        function countDown(seconds = 0) {
            var counter = setInterval(function () {
                if (seconds > 0) {
                    seconds--;
                }

                // Display the result in the element with id="demo"
                document.getElementById("resendConfirmationCodeBtn").innerHTML = "Send again (" + seconds + ")";

                // If the count down is finished, write some text
                if (seconds <= 0) {
                    clearInterval(counter);
                    document.getElementById("resendConfirmationCodeBtn").innerHTML = "Send again";
                    $("#resendConfirmationCodeBtn").attr("disabled", false);
                }
            }, 1000);
        }
        countDown();</script>
}
<!--begin::Signin-->
<div class="login-form">
    <!--begin::Form-->
    <form class="form" id="kt_login_singin_form" method="post">
        <!--begin::Title-->
        <div class="pb-5 pb-lg-15">
            <h3 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Confirm Email</h3>
            <div class="text-muted font-weight-bold font-size-h4">
                Enter the 6 digit code that sent to your email
            </div>
        </div>
        <!--begin::Title-->
        <div asp-validation-summary="All"></div>
        <!--begin::Form group-->
        <div class="form-group">
            <div class="d-flex justify-content-between mt-n5">
                <label asp-for="Code" class="font-size-h6 font-weight-bolder text-dark pt-5"></label>
                <button type="button" id="resendConfirmationCodeBtn" onclick="resendConfirmationCode()" class="btn btn-link text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5">Send again</button>
            </div>
            <input asp-for="Code" class="form-control form-control-solid h-auto rounded-lg border-0" style="text-align: center; font-size: 3rem;" />
        </div>
        <!--end::Form group-->
        <!--begin::Action-->
        <div class="pb-lg-0 pb-5">
            <input asp-for="UserId" hidden />
            <button type="submit" id="kt_login_singin_form_submit_button" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Confirm</button>
        </div>
        <!--end::Action-->
    </form>
    <!--end::Form-->
</div>
<!--end::Signin-->